/* BODY */
body {
    font-family: "Noto Sans JP", sans-serif;
    /* background-image: url("../img/bg01.jpg"); */
}
/*  */

/* CONTAINER */
.container {
    width: 75%;
    margin: 0 auto;
}
/*  */

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 148px;
    border-bottom: 2px solid #d2d2d2;
}

.nav {
    display: flex;
    justify-content: center;
    font-size: 0;
}

.nav__item {
    position: relative;
    display: flex;
}

.nav__item:nth-child(1) .nav__link {
    padding: 25px 49px;
}

.nav__item:nth-child(2) .nav__link {
    padding: 25px 55.5px;
}

.nav__item:nth-child(3) .nav__link,
.nav__item:nth-child(4) .nav__link,
.nav__item:nth-child(5) .nav__link,
.nav__item:nth-child(6) .nav__link {
    margin-right: 53.5px;
    padding: 25px 0;
}

.nav__item:nth-child(6) .nav__link {
    margin: 0;
}

.nav__link {
    font-size: 1.15rem;
    text-decoration: none;
    color: #000;
    border-radius: 0 0 6px 6px;
}

.nav__link.active {
    background-color: #3f3f3f;
    color: #fff;
}

.dropmenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 135%;
    height: 0;
    text-align: center;
    background: rgba(63, 63, 63, 0.9);
    border-radius: 8px;
    opacity: 0;
    transition: all 1s;
}

.nav__item:hover .dropmenu {
    display: block;
    height: 400px;
    opacity: 1;
}

.dropmenu__item {
    width: 80%;
    margin: auto;
    padding: 12px 0;
    border-bottom: 1px solid #fff;
}

.dropmenu__item:last-of-type {
    border: none;
}

.dropmenu__link {
    font-size: 1rem;
    line-height: 3rem;
    text-decoration: none;
    color: #fff;
}
/*  */

/* LOGO */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 188px;
}

.logo__block {
    display: flex;
    justify-content: center;
    width: 190px;
    padding: 56px 0;
    background-color: rgb(223, 98, 103);
    border-radius: 50%;
}

.logo__block::before {
    content: "";
    display: block;
    width: 90px;
    height: 76px;
    background-image: url("../img/7q.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo h1 {
    padding-top: 74px;
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
/*  */

/* ARTICLEINFO */
.articleInfo {
    padding: 175.4px 0 127px;
    border-bottom: 2px solid #d2d2d2;
}

.articleInfo h2 {
    padding-bottom: 45px;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #3f3f3f;
}

.articleInfo p {
    font-size: 1.31rem;
    text-align: center;
    line-height: 2.6rem;
    color: rgb(154, 137, 137);
}
/*  */

/* GALLERY */
.gallery {
    padding-top: 25px;
}

.text-gallery {
    display: flex;
    justify-content: space-between;
}
/*  */