/* BODY */
body {
    font-family: "Noto Sans JP", sans-serif;
    /* background-image: url("../img/bg01.jpg"); */
}
/*  */

/* CONTAINER */
.container {
    width: 75%;
    margin: 0 auto;
}
/*  */

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 9.25em;
    border-bottom: 2px solid #d2d2d2;
}

.nav {
    display: flex;
    justify-content: center;
    font-size: 0;
}

.nav__item {
    position: relative;
    display: flex;
}

.nav__item:nth-child(1) .nav__link {
    padding: 1.35em 2.65em;
}

.nav__item:nth-child(2) .nav__link {
    padding: 1.35em 3em;
}

.nav__item:nth-child(3) .nav__link,
.nav__item:nth-child(4) .nav__link,
.nav__item:nth-child(5) .nav__link,
.nav__item:nth-child(6) .nav__link {
    margin-right: 2.92em;
    padding: 1.35em 0;
}

.nav__item:nth-child(6) .nav__link {
    margin: 0;
}

.nav__link {
    font-size: 1.15rem;
    text-decoration: none;
    color: #000;
    border-radius: 0 0 6px 6px;
}

.nav__link.active {
    background-color: #3f3f3f;
    color: #fff;
}

.nav__link:hover,
.nav__link.active:hover,
.dropmenu__link:hover {
    color: rgb(223, 98, 103);
}

.dropmenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 135%;
    height: 0;
    text-align: center;
    background: rgba(63, 63, 63, 0.9);
    border-radius: 8px;
    opacity: 0;
    transition: all 1s;
}

.nav__item:hover .dropmenu {
    display: block;
    height: 400px;
    opacity: 1;
}

.dropmenu__item {
    width: 80%;
    margin: auto;
    padding: .75em 0;
    font-size: 1rem;
    border-bottom: 1px solid #fff;
}

.dropmenu__item:last-of-type {
    border: none;
}

.dropmenu__link {
    line-height: 3em;
    text-decoration: none;
    color: #fff;
}
/*  */

/* LOGO */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11.75em;
}

.logo__block {
    display: flex;
    justify-content: center;
    width: 190px;
    padding: 3.5em 0;
    background-color: rgb(223, 98, 103);
    border-radius: 50%;
}

.logo__block::before {
    content: "";
    display: block;
    width: 90px;
    height: 76px;
    background-image: url("../img/7q.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo h1 {
    padding-top: 1.45em;
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
/*  */

/* ARTICLEINFO */
.info {
    padding: 10.96em 0 7.93em;
    border-bottom: 2px solid #d2d2d2;
}

.info h2 {
    padding-bottom: 1.563em;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #3f3f3f;
}

.info__description {
    font-size: 1.31rem;
    text-align: center;
    line-height: 2em;
    color: rgb(154, 137, 137);
}
/*  */

/* GALLERY */
.gallery {
    padding-top: 1.56em;
}

.text-gallery {
    display: flex;
    justify-content: space-between;
}

.text-gallery h2 {
    margin-left: .66em;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.9rem;
    font-weight: bold;
    color: #3f3f3f;
}

.text-gallery p {
    margin: .09em .45em 0 0;
    font-size: 1.35rem;
}

.galleryBlock {
    padding-bottom: 3.06em;
}

.galleryBlock img {
    width: 30.61%;
    margin: 6.06% .9% 0;
}
/*  */

/* ARTICLELIST */
.about__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.28em 0 3.95em;
    border-bottom: 3px solid #d2d2d2;
}

.about__block .about__button {
    width: 24.7%;
    padding: 1.46em 0;
    font-family: "DejaVu Sans";
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(223, 98, 103);
    color: #fff;
    border-radius: 6px;
}

.about__block h2 {
    margin: .84em 0 .76em;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: #3f3f3f;
}

.about__block:nth-of-type(3) h2 {
    margin: .89em 0;
    font-size: 1.75rem;
    letter-spacing: 0;
    color: #000;
}

.about__block .about__description {
    font-size: 1.305rem;
    line-height: 2.05em;
    text-align: center;
    color: rgb(139, 139, 132);
}

.about__block:nth-of-type(1) .about__description:first-of-type,
.about__block:nth-of-type(2) .about__description:first-of-type {
    font-size: 1.3rem;
    line-height: 4.15em;
    color: rgb(139, 125, 131);
    text-shadow: 1px 0 2px rgba(218, 176, 116, .1),
    0 1px 2px rgba(218, 176, 116, .1),
    -1px 0 2px rgba(218, 176, 116, .1),
    0 -1px 2px rgba(218, 176, 116, .1);
}
/*  */

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.31em 0 4.06em;
}

.footer__top {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 4.625em;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    width: 55.8%;
}

.footer__link {
    font-size: 1.2rem;
    text-decoration: none;
}

.footer__link:first-child {
    margin-left: 2.55em;
}

.footer__down {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: -0.09px;
}
/*  */

/* MEDIA */
@media screen and (max-width: 1200px) {
    .footer__nav {
        width: 100%;
    }

    .footer__link:first-child {
        margin: 0;
    }
}

@media screen and (max-width: 720px) {
    .container {
        width: 90%;
    }

    .nav__item:nth-child(1) .nav__link {
        padding: 1.35em .89em;
    }
    
    .nav__item:nth-child(2) .nav__link {
        padding: 1.35em 1em;
    }
    
    .nav__item:nth-child(3) .nav__link,
    .nav__item:nth-child(4) .nav__link,
    .nav__item:nth-child(5) .nav__link,
    .nav__item:nth-child(6) .nav__link {
        margin-right: .58em;
    }

    .dropmenu {
        width: 155%;
    }
}
/*  */