/* BODY */
body {
    font-family: "Noto Sans JP", sans-serif;
    /* background-image: url("../img/bg01.jpg"); */
}
/*  */

/* CONTAINER */
.container {
    width: 75%;
    margin: 0 auto;
}
/*  */

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 148px;
    border-bottom: 2px solid #d2d2d2;
}

.nav {
    display: flex;
    justify-content: center;
    font-size: 0;
}

.nav__item {
    position: relative;
    display: flex;
}

.nav__item:nth-child(1) .nav__link {
    padding: 25px 49px;
}

.nav__item:nth-child(2) .nav__link {
    padding: 25px 55.5px;
}

.nav__item:nth-child(3) .nav__link,
.nav__item:nth-child(4) .nav__link,
.nav__item:nth-child(5) .nav__link,
.nav__item:nth-child(6) .nav__link {
    margin-right: 53.5px;
    padding: 25px 0;
}

.nav__item:nth-child(6) .nav__link {
    margin: 0;
}

.nav__link {
    font-size: 1.15rem;
    text-decoration: none;
    color: #000;
    border-radius: 0 0 6px 6px;
}

.nav__link.active {
    background-color: #3f3f3f;
    color: #fff;
}

.dropmenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 135%;
    height: 0;
    text-align: center;
    background: rgba(63, 63, 63, 0.9);
    border-radius: 8px;
    opacity: 0;
    transition: all 1s;
}

.nav__item:hover .dropmenu {
    display: block;
    height: 400px;
    opacity: 1;
}

.dropmenu__item {
    width: 80%;
    margin: auto;
    padding: 12px 0;
    border-bottom: 1px solid #fff;
}

.dropmenu__item:last-of-type {
    border: none;
}

.dropmenu__link {
    font-size: 1rem;
    line-height: 3rem;
    text-decoration: none;
    color: #fff;
}
/*  */

/* LOGO */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 188px;
}

.logo__block {
    display: flex;
    justify-content: center;
    width: 190px;
    padding: 56px 0;
    background-color: rgb(223, 98, 103);
    border-radius: 50%;
}

.logo__block::before {
    content: "";
    display: block;
    width: 90px;
    height: 76px;
    background-image: url("../img/7q.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo h1 {
    padding-top: 74px;
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
/*  */

/* ARTICLEINFO */
.articleInfo {
    padding: 175.4px 0 127px;
    border-bottom: 2px solid #d2d2d2;
}

.articleInfo h2 {
    padding-bottom: 45px;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #3f3f3f;
}

.articleInfo p {
    font-size: 1.31rem;
    text-align: center;
    line-height: 2.6rem;
    color: rgb(154, 137, 137);
}
/*  */

/* GALLERY */
.gallery {
    padding-top: 25px;
}

.text-gallery {
    display: flex;
    justify-content: space-between;
}

.text-gallery h2 {
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.9rem;
    font-weight: bold;
    color: #3f3f3f;
}

.text-gallery p {
    margin: 2px 15px 0 0;
    font-size: 1.35rem;
}

.galleryBlock {
    padding-bottom: 49px;
}

.galleryBlock img {
    width: 30.61%;
    margin: 6.06% 0.9% 0;
}
/*  */

/* ARTICLELIST */
.articleList__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 84.5px 0 62px;
    border-bottom: 3px solid #d2d2d2;
}

.articleList__item .button {
    width: 24.7%;
    padding: 30.5px 0;
    font-family: "DejaVu Sans";
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(223, 98, 103);
    color: #fff;
    border-radius: 6px;
}

.articleList__item h2 {
    margin: 24px 0 22px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: #3f3f3f;
}

.articleList__item:nth-of-type(3) h2 {
    margin: 25px 0;
    font-size: 1.75rem;
    letter-spacing: 0;
    color: #000;
}

.articleList__item p {
    font-size: 1.305rem;
    line-height: 42px;
    text-align: center;
    color: rgb(139, 139, 132);
}

.articleList__item:nth-of-type(1) p:first-of-type,
.articleList__item:nth-of-type(2) p:first-of-type {
    font-size: 1.3rem;
    line-height: 86px;
    color: rgb(139, 125, 131);
}
/*  */

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 0 65px;
}

.footer__top {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 74px;
}

.navfooter {
    display: flex;
    justify-content: space-between;
    width: 55.8%;
}

.navfooter__link {
    font-size: 1.2rem;
    text-decoration: none;
}
/*  */